sudo: false
language: node_js
node_js:
- '6'
env:
  global:
    - IDE_VERSION=1.8.5
    - SENSEBOXCORE_VERSION=1.0.0
    - SENSEBOXCORE_URL=https://sensebox.github.io/arduino-senseBoxCore/package_sensebox_index.json
before_script:
  - wget http://downloads.arduino.cc/arduino-$IDE_VERSION-linux64.tar.xz
  - tar xf arduino-$IDE_VERSION-linux64.tar.xz
  - mv arduino-$IDE_VERSION $HOME/arduino-ide
  - export PATH=$PATH:$HOME/arduino-ide
  - mkdir -p $HOME/Arduino
  - wget https://github.com/sensebox/resources/raw/master/libraries/senseBox_Libraries.zip
  - unzip senseBox_Libraries.zip -d $HOME/Arduino
  - arduino --pref boardsmanager.additional.urls=$SENSEBOXCORE_URL --install-boards senseBox:samd:$SENSEBOXCORE_VERSION
script:
  - npm run test
  - npm run arduino-test
before_deploy:
  - rm -rf senseBox_Libraries.zip arduino-$IDE_VERSION-linux64.tar.xz
deploy:
  provider: npm
  email:
    secure: dLA69DQy+617EsA+BHhlmtCYfxOUyqxYlziLgO3vApnhvRxa88sATnHuIv0LBSupF7jHUKhQwMRsWTX4mp8BVLQbmw6QaZkG/3iLyxzhPSrzsjXq6iZTz0Y5a+8WdbFkfCnKCEYrRI05Kq9ScbALOUugwd/7waoy9w0OzGw3oi8dO+3hFmLbzorLYzK7MYnbpc6LAu0xNNtOg6g0CQ6XMskRA9c9Gn7jBeQIaOvDbj+isssyW1zK4SoBaXqGXgTSjSHANehnVIUD4ELQck509al/zcy/5od5WaL6oe2OLdWIvq5usgV7rlz0pgcrTsVQYsX6LUjrKPsHJkS6P4YlzdJRWNszBXi9u2fuaXcJcXF2vzB8KLMcVZxbmePnhuWbGYNWyyZvkTr+KgP6yXNcWWE5jhTQpcIzWAF/rszChSLjsIiZHLvbDf7tLLt0P9orEsaXs2lev1n0qKAq4azFBhZ0bgouzdGe5tjPZF5ZnpuG8AmPEhxBf2kj7h6X0ms9DOVuyOoFLP1wwpEgTOY2tX192YvejTf2cKP4WYPDOaEmsz8kbNIdKeEYEOSlOWpFGQT6Ab0JcYmBf8ZVKUju+S6obryu2ygFoAUYp3qhsAE6cSOVlNdPrMWcBsmtRo4sPqZ+bWsYReyeOedkuBkPQKxlqrl6q/ALLM64+JRIMxM=
  api_key:
    secure: cyl0bK4w6fzf3kqTUvpVM0vhpnqEi409b8yDHhAC+1LPZAKOMdDuW02FSUHyj950X/2cFPevU2vlhiuykdI2Dlx3mSrlHtw+HFbUySf9SF/Yd2g+gUQENX8ogN4r93AFvahfoGLM5bVAr1nJHCfQ59JUdJ6A1B4zCNdxYpqFnRL0WaoGodddIewATqIyI/cZ4ezEkeYl/ZJqCRApjz+aqBaZUJB6TGncj+EW8BKXbf3jSmhoCGJSxPdYqE3M/XlIEws038SfKrMjhBedYZueGT4fQBivcGnKT1gSfPaGHHM2OKdRrbPlEDiKEDLYrAMSlfaeNX3wpvaZUcni5oFOCJmBisM3apYSelCmuhNhjik8lqZvwGWE/AwU95zoYxLr0sMJg9Is2Ue3YTy0YnQ2vk4fNqpBv/Z6DDcIDQRGL7tqsfrKP6PA1LHQt2bYjX+phkILQKtIMdVxvj5QzizLJmY+P/6U3SrJ8XZP48/EILipj5sIZHueS5v/awiHHwN25BqLprkNsWOUMLwUqu5cUni/Vg8EZ5mUbK2NGK5PXkoEdp+wS4Y4X5yE2irD2daYtwdL/9VEDW1cqi9aWAjJP4qQTZZ3fbuLQ/R8dQlSdsq7hPZWXOLQGNKTrOTcViGgIHlPbrmp3AgVoH7poL9GOdv+UY/q4ZP54hd3qg1P6+I=
  on:
    branch: master
    tags: true
